  <html>
  <head>
    <title>Casino Machine</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">

    <script src="static/script/jquery.min.js"></script>
    <link rel="stylesheet" href="static/css/bootstrap.css">

    <link rel="stylesheet" href="static/css/general.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <script type="text/javascript" src="static/script/script.js"></script>
    <script src="static/script/bootstrap.min.js"></script>
    <link rel="stylesheet" href="static/css/font-awesome.min.css">
  </head>
  <body onload="initiate()">



  <br>
  <div id="main" class="container">
    <div class=row>

      <div class="col-md-12 ">
        <br><br><br>
        <div class="jumbotron mid" id="Jumbotron_title">
          <h1 class = display-3></h1>
          <hr class="my-4">
          <h3 id="Jumbotron_text1"></h3>

          <h3 id="Jumbotron_text2"></h3>
          <br>
          <div id="BetDiv" class="progress progress-striped active hidden">
            <div id="betbar" class="progress-bar" style="width: "></div>
          </div>
		      
        </div>
        <button id="ResetBtn" class="mid btn btn-primary ResetBtn hidden" onclick="location.href='/'">Restart Game</button>
        
      </div>
      <!--div class="col-md-12">
      	<button onclick="Initialize_AGV()">Test button</button>
      	<br>
      	<br>
      	<p id="testtext">fwfwf</p>
      </div-->
    </div>
    </br>
    </br>
  </div>
  </body>

</html>