  <html>
  <head>
    <title>Casino Machine</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">

    <script src="static/script/jquery.min.js"></script>
    <link rel="stylesheet" href="static/css/bootstrap.css">

    <link rel="stylesheet" href="static/css/general.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <script type="text/javascript" src="static/script/script.js"></script>
    <script src="static/script/bootstrap.min.js"></script>
    <link rel="stylesheet" href="static/css/font-awesome.min.css">
  </head>



  <br>
  <div id="main" class="container">
    <div class=row>

      <div class="col-md-12 center">
        <div class="jumbotron mid">
          <h1 class = display-3>Mecha BlackJack </h1>
          <hr class="my-4">
          <h2><b>Welcome! I am your Dealer today.</b></h2>
          <h3>Please seat tight, and enjoy a round of BlackJack brought to you by Group G.</h3>
          <h3>Press the button below to start, <font color="red">and look into the camera!</font></h3>
          <br><br>
          <center><button type="button" class="btn btn-primary btn-xl" onclick="location.href='/FaceRecog'">Start Game</button></center>
        </div>
      </div>
    </div>
    </br>
    </br>
  </div>



</html>